.button {
  background: #61dafb;
  margin: 2px;
  padding: 15px;
  font-weight: 900;
  border-radius: 15px;
  border-style: none;
  box-shadow: 1px 1px 3px #000000, -1px -1px 1px #cfcfcf;
  cursor: pointer;
  color: #282c34;
}
