.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #282c34;
  color: #61dafb;
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  border-style: none;
  box-shadow: 3px 3px 3px #000000, -1px -1px 5px #cfcfcf;
}
