.buttonContainer {
  display: flex;
  margin-right: 10px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.container {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
}

.todoName {
  font-weight: bold;
  margin-bottom: 10px;
  color: #282c34;
}

.todoDescription {
  margin-bottom: 0;
  color: #282c34;
}
