.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #023047;
  margin-top: 10;
  padding: 10;
  height: 150;
}

.input {
  border: none;
  background-color: #e5e5e5;
  margin-bottom: 10;
  padding: 8;
  font-size: 18;
}
