.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #282c34;
  margin-top: 10px;
  padding: 10px;
  height: 100%;
}

.input {
  border: none;
  background-color: #e5e5e5;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 18;
}
