.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #282c34;
  margin-top: 10px;
  padding: 10px;
  height: 100%;
  border-radius: 15px;
  border-style: none;
  box-shadow: 3px 3px 3px #000000, -1px -1px 5px #cfcfcf;
}

.input {
  border: none;
  background-color: #e5e5e5;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 18;
  border-radius: 15px;
  border-style: none;
  box-shadow: -2px -2px 6px #000000, 2px 2px 6px #424242;
}
