.btn {
  min-width: 50vw;
  background: #61dafb;
  padding: 15px;
  font-weight: 900;
  border-radius: 15px;
  border-style: none;
  box-shadow: 3px 3px 3px #000000, -1px -1px 5px #cfcfcf;
  cursor: pointer;
  color: #282c34;
}

.container {
  margin: 0 auto;
  padding: 20px;
  min-width: 100vw;
  background-color: #ffffff;
  margin-top: 40px;
}

.errorText {
  color: red;
  font-weight: bold;
  border: 2px solid red;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  grid-gap: 20px;
}
