.btn {
  width: 100%;
  background: #61dafb;
  padding: 15px;
  font-weight: 900;
  border-radius: 15px;
  border-style: none;
  box-shadow: 3px 3px 3px #000000, -1px -1px 5px #cfcfcf;
  cursor: pointer;
}
